h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 5%;
    text-align: center;
}

.status{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 5%;
}